body {
    background-color: #FFFFFF;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar li {
    float: right;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
  .navbar li a {
    font-family: monospace;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: #111;
  }
  section {
    margin-left: 10%;
    margin-right: 10%;
  }
  img {
    position: fixed; 
    top: 15px; 
    left: 28px;
    width: 2%;
  }
  h1 {
      color: #FFFFFF;
      position: fixed;
      top: 1.5px;
      left: 85px;
      font-family: 'Press Start 2P', cursive;
  }