/* OVERALL */
body, html {
    font-family: monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}
/* TEXT */
.Tropic {
    font-size: 35px;
}
.subContent {
    color: 	#FF0000;
}
/* TABLE */
.maintable {
    float: left;
}
.offtable {
    float: left;
    clear: both;
}
.tableContent {
    float: left;
}

.offContent {
    float: right;
}

/* NAVIGATION */
.header {
    background-color: #333;
    overflow: hidden;
}
.navlist {
    list-style-type: none;  
}
.navlist li {
    float: right;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #333;
}
  
.navlist li a {
    font-family: monospace;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navlist li a:hover {
    background-color: #111;
}
.logo {

    padding: 7px;
    float: left;
    margin-left: 15px;
    margin-right: 15px; 
    width: 2%;
}
.name {
    margin-top: 18.5px;
    float: left;
    color: #B2B2B2;
    font-family: "Press Start 2P";
}


/* FOOTER */
footer {
    clear: both;
    font-family: monospace;
    text-align: center;
}

/* ITEMS TABLE CSS */
table, th {
    clear: both;
    margin-top: 18px; 
    border: 2px solid black;
}
.itemx, .skillx {
    text-align: center;
    padding: 8px;
    width: 20%;
}
.itempic {
    display: block;
    margin: 0 auto;
    width: 55px;
}
.skillpic {
    clear: both;
    margin: 0 auto;
    width: 85px;   
}
td {
    text-align: center;
}

/* STILLS */

.skillsPic {
    display: block;
}
.passiveNav {
    color: #555;
    display: inline-block;
    text-align: center;
}
.skill1Nav, .skill2Nav, .ability {
    color: #555;
    display: inline-block;
    text-align: center;
}

/* RESPONSIVE */
.blogtablet, .blogdesktop {
    clear: both;
    margin-left: 10%;
    margin-right: 10%;
}
/* For mobile phones: */
[class*="blog"] {
    width: 85%;
}
.navlist {
    display: inline-block;
    width: 100%;
    margin-left: -15%;
}
.navlist li{
    text-align: center;
    float: right;
    margin-right: 4%;
    margin-left: 10%;
    width: 35%;
}
.name {
    width: 45%;
    display: block;
}
.logo {
    width: 45px;
}
.maintable {
    width: 100%;
    float: left;
}
.offtable {
    width: 100%;
}
.skillsPic {
    width: 100%;
}
.itemx, .skillx {
    text-align: center;
    padding: 8px;
    width: 35%;
}
.passiveNav {
    font-size: 15px;
    margin-left: 14%;
    margin-right: 0%;  
    overflow: hidden;
}
.skill1Nav, .skill2Nav, .ability {
    font-size: 15px;
    margin-left: 0%;
    margin-right: 0%;  
    overflow: hidden;
}
.skillsContent {
    margin-left: 0%;
    text-align: center;
}
.skillsPic {
    margin-left: -2%;
}
.table_skillsContent {
    margin-left: 0%;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
    .blogdesktop {
        width: 100%;
    }
    .name {
        display: inline;
    }
    .nav {
        margin-right: 2%;
    }
    .navlist {
        display: block;
        margin-left: -1%;
        margin-right: 0%;
    }
    .navlist li {
        float: right;
        margin-left: -2%;
        margin-right: 2%;
        width: 9.5%;
    }
    .maintable {
        width: 45%;
    }
    .offtable {
        width: 45%;
    }
    .skillsPic {
        width: 40%;
    }
    .itemx, .skillx {
        text-align: center;
        padding: 8px;
        width: 20%;
    }
    .passiveNav {
        font-size: 22px;
        margin-left: 22%;
        margin-right: 0%;  
        overflow: hidden;
    }
    .skillsPic {
        margin-left: 20%;
    }
    .skill1Nav, .skill2Nav, .ability {
        font-size: 22px;
        margin-left: 5.5%;
        margin-right: 0%;  
        overflow: hidden;
    }
    .skillsContent {
        margin-left: -18.5%;
        text-align: center;
    }
    .table_skillsContent {
        margin-left: 26.25%;
    }
}
