 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
 }

 @font-face {
   font-family: MS PGothic;
   src: url('fonts/ms-pgothic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

.navLogo {
  padding-left: 15px;
}

.navbg {
  background-color: #077b88;
}

.drpbg {
  background-color: #87c9c9;
}

.navbar-toggler {
  margin-right: 6px;
  background-color: white;
}

.myHomepage {
  text-decoration: none;
}

.cardClass {
  margin-top: 24px;
}

.fa-star {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;  
}

.fullstar {
  color: #fcca03;
}

.emptystar {
  color: white;
}

.badge-card {
  padding: 8px;
}

.badge-link {
  color: white!important;
  text-decoration: none;
}

.badge-inline {
  background-color: #077b88;
}

.badge-inline:hover {
  background-color: #87c9c9;
}
